 html {
     background-color: rgb(0, 162, 255);
     font-family: 'Alfa Slab One', san-serif;
     font-size: 18px;
 }
 
 .heading {
    background-color: gold;
    padding: 10px;
    margin-left: 330px;
    border-radius: 10px;
 }
 
 h1 {
    font-size: 60px;
    text-align: center;
    margin: auto;
}

h2 {
    text-align: center;
    margin: auto;
}

p {
    background-color: gold;
    padding: 15px;
    margin-top: 50px;
    margin-left: 330px;
    line-height: 1.5;
    border-radius: 10px;\
}

ul {
    background-color: gold;
    padding: 0 0 15px 50px;
    margin: 0 50px 0 50px;
    line-height: 1.5;
}

img {
    float: left;
    width: 300px;
    padding: 15px;
    Margin-top: 50%;
}

.sidebar {
    height: 100%;
    width: 330px; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: gold;
    overflow-x: hidden; 
    padding-top: 15px;
    padding-bottom: 15px;
}

